.mngha-grid {
  display: grid;
  gap: var(--space-8);
}

.mngha-grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.mngha-grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.mngha-grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.mngha-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.mngha-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.mngha-grid-responsive {
  display: grid;
  gap: var(--space-4);
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media (min-width: 768px) {
  .mngha-grid-responsive {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .mngha-grid-responsive {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}