/**
 * --------------------------------------------------------------------------
 * Backdrop Blur
 * --------------------------------------------------------------------------
 */

:root {
  --backdrop-blur-sm: 8px;
  --backdrop-blur-md: 16px;
  --backdrop-blur-lg: 24px;
  --backdrop-blur-xl: 40px;
}