:root {
  /**
   * --------------------------------------------------------------------------
   * Primitive Radius
   * --------------------------------------------------------------------------
   */

  --radius-0: 0rem;        /* 0px */
  --radius-1: 0.125rem;    /* 2px */
  --radius-2: 0.25rem;     /* 4px */
  --radius-3: 0.5rem;      /* 8px */
  --radius-4: 1rem;     /* 16px */
  --radius-5: 1.5rem;        /* 24px */
   --radius-9999: 9999px;


  /**
   * --------------------------------------------------------------------------
   * Semantic Radius
   * --------------------------------------------------------------------------
   */

  --radius-none: var(--radius-0);
  --radius-xs: var(--radius-1);
  --radius-sm: var(--radius-2);
  --radius-md: var(--radius-3);
  --radius-lg: var(--radius-4);
  --radius-xl: var(--radius-5);
  --radius-full: var(--radius-9999);
   
}