:root {
  /**
   * --------------------------------------------------------------------------
   * Shadow Color
   * --------------------------------------------------------------------------
   */

  --shadow-color: 16 24 40; /* #101828 */

  /**
   * --------------------------------------------------------------------------
   * Shadows
   * --------------------------------------------------------------------------
   */

  --shadow-xs:
    0 1px 2px 0 rgb(var(--shadow-color) / 0.05);

  --shadow-sm:
    0 1px 3px 0 rgb(var(--shadow-color) / 0.10),
    0 1px 2px 0 rgb(var(--shadow-color) / 0.06);

  --shadow-md:
    0 4px 8px -2px rgb(var(--shadow-color) / 0.10),
    0 2px 4px -2px rgb(var(--shadow-color) / 0.06);

  --shadow-lg:
    0 12px 16px -6px rgb(var(--shadow-color) / 0.08),
    0 4px 6px -2px rgb(var(--shadow-color) / 0.03);

  --shadow-xl:
    0 20px 24px -4px rgb(var(--shadow-color) / 0.08),
    0 8px 8px -4px rgb(var(--shadow-color) / 0.03);

  --shadow-2xl:
    0 24px 48px -12px rgb(var(--shadow-color) / 0.18);

  --shadow-3xl:
    0 32px 64px -12px rgb(var(--shadow-color) / 0.14);
}