/**
 * --------------------------------------------------------------------------
 * External Theme
 * --------------------------------------------------------------------------
 */

:root,
[data-theme="external"] {
  --color-brand-primary: var(--color-primary-600);
  --color-brand-primary-hover: var(--color-primary-700);
  --color-brand-secondary: var(--color-primary-600);
  --color-brand-surface: var(--color-primary-600);
  --color-brand-very-light: var(--color-primary-50);
  --color-brand-light: var(--color-primary-400);
  --color-action-primary-bg: var(--color-primary-600);
  --color-action-primary-bg-hover: var(--color-primary-700);
  --color-action-primary-text: var(--color-white);
  --color-action-primary-border: var(--color-primary-600);

  --color-text-brand-primary: var(--color-gray-950);
  --color-text-brand-secondary: var(--color-gray-700);
  --color-text-brand-tertiary: var(--color-gray-600);

    --color-heading-brand: var(--color-text-brand-primary);
  --color-body-brand: var(--color-text-brand-secondary);
  
  --color-link: var(--color-primary-600);
  --color-link-hover: var(--color-primary-800);
}