/**
 * --------------------------------------------------------------------------
 * Direction
 * --------------------------------------------------------------------------
 */

 html[dir="rtl"] {
  direction: rtl;
}

html[dir="ltr"] {
  direction: ltr;
}

 input,
textarea,
select,
button {
  direction: inherit;
}

 [dir="rtl"] .dir-ltr {
  direction: ltr;
  text-align: start;
}

[dir="ltr"] .dir-rtl {
  direction: rtl;
  text-align: start;
}

 .text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}